{
    "semi": false,
    "bracketSpacing": true,
    "trailingComma": "all",
    "singleQuote": false,
    "printWidth": 120,
    "tabWidth": 4,
    "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "organizeImportsSkipDestructiveCodeActions": true,
    "endOfLine": "auto"
}
